@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* tailwind.css (or your custom CSS file) */
.flip-board {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.flip-board-item {
  margin: 1px;
  padding: 15px;
  width: 15px;
  height: 15px;
  background-color: #333;
  color: yellow; /* Set the text color to yellow */
  font-size: 28px;
  font-weight: 100; /* Use a thinner font weight */
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flip-board-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-board-text {
  font-weight: 600; /* Use a slightly bolder font weight for emphasis */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}